
#sidebar{
    /* width: 250px;
    height: 500px; */
    background-image: linear-gradient(to right,#f5ac82,#a11afe);
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    border-radius: 15px;
}
#sidebar2{
    margin-top: 20px;
    margin-left: 15px;
    background-image: linear-gradient(to right,#f5ac82,#a11afe);
    border: none;
    border-radius: 15px;

}
.profilecontainer{
    display: flex;
}
.profilesidebar>li>a{
    cursor: pointer;
   
}
.navsidebaropt{
    padding: 10px;
   
    
}.navsidebaropt .sidebaropt{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding:  30px;


    /* margin-left: 35px; */
    


}
.navsidebaropt:hover{
    
    background-color: #f5ac82;


}
.stats{
    padding: 10px;
    border: 2px solid #f5ac82;
    border-radius: 10px;
    color: #a11afe;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.stats>h2{
    margin-left: 10px;
}
.statbox>div>p{
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin-left: 40px;
}
.createcoursehead{
    color: #f5ac82;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 32px;
}
.createcourselabel{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
    color:#a11afe
}
.coursebtn{
    background-color: #f5ac82;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}